:root {
    --primary-color: #2E8B57;    /* Yemek yeşili - Ana renk */
    --secondary-color: #FF6B35;  /* Turuncu - Aksiyon butonları */
    --primary-color: #2C3E50;    /* Lacivert - Profesyonel */
    --font_headline: 'Merriweather', sans-serif;
    --font_text: 'OpenSans', sans-serif;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/merriweather_woff/Merriweather_24pt_SemiCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/merriweather_woff/Merriweather_24pt_SemiCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../assets/fonts/open_sans_woff/OpenSans_Condensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../assets/fonts/open_sans_woff/OpenSans_Condensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: var(--secondary-color) ;
    height: 100px; 
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: flex;
    align-items: center;    
}

.hero {
    background-image: url(../assets/img/ai-generated-8711272_1920.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}

.hero_logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 70px;
}


footer {
    background-color: var(--secondary-color);
    height: 100px;
}

